<section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="title">
            <h1 class="banner-title">
              The Spirit of <br />
              Digital Agency.
            </h1>
            <p class="banner-para">
              Vestibulum ac diam sit amet quam vehicula elementum amet <br />
              est on dui. Nulla porttitor accumsan tincidunt.
            </p>
            <div class="title-buttons">
              <button type="button" class="btn btn-danger">More About Us</button>
              <button id="btn-touch" type="button" class="btn btn-light">
                Get In Touch
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>