<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-title">
          <p>Blog Stories</p>
          <h2>Check Our News</h2>
          <div class="blog-arrows">
            <a (click)="next3()" class="cp next-arrow"><img src="assets/images/forward-icon.png"
                class="blog-forward-icon" /></a>
            <a (click)="prev3()" class="cp prev-arrow">
              <img src="assets/images/back-icon.png" class="blog-back-icon" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ngx-slick-carousel class="carousel" #slickModal3="slick-carousel" [config]="slideConfig3">
        <div ngxSlickItem class="slide">
          <div class="col-md-4" style="width: 368px" >
            <div class="card-01">
              <div class="card-body-01">
                <h6 class="card-title">New Adventure</h6>
                <p class="card-text-01">
                  <small class="s">17 March 2019</small>
                </p>
                <p class="card-text-01">
                  Vestibulum ac diam sit amet quam vehicula elementum amet est
                  on dui. Nulla porttitor accumsan tincidunt.
                </p>
                <i class="fa-solid fa-arrow-right" id="blog-card-arrow-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="col-md-4" style="width: 368px">
            <div class="card-02">
              <div class="card-body-02">
                <h6 class="card-title">New Adventure</h6>
                <p class="card-text-02">
                  <small class="s">17 March 2019</small>
                </p>
                <p class="card-text-02">
                  Vestibulum ac diam sit amet quam vehicula elementum amet est
                  on dui. Nulla porttitor accumsan tincidunt.
                </p>
                <i class="fa-solid fa-arrow-right" id="blog-card-arrow-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="col-md-4" style="width: 368px">
            <div class="card-03">
              <div class="card-body-03">
                <h6 class="card-title">New Adventure</h6>
                <p class="card-text-03">
                  <small class="s">17 March 2019</small>
                </p>
                <p class="card-text-03">
                  Vestibulum ac diam sit amet quam vehicula elementum amet est
                  on dui. Nulla porttitor accumsan tincidunt.
                </p>
                <i class="fa-solid fa-arrow-right" id="blog-card-arrow-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="col-md-4" style="width: 368px">
            <div class="card-03">
              <div class="card-body-03">
                <h6 class="card-title">4th</h6>
                <p class="card-text-03">
                  <small class="s">17 March 2019</small>
                </p>
                <p class="card-text-03">
                  Vestibulum ac diam sit amet quam vehicula elementum amet est
                  on dui. Nulla porttitor accumsan tincidunt.
                </p>
                <i class="fa-solid fa-arrow-right" id="blog-card-arrow-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="col-md-4" style="width: 368px">
            <div class="card-03">
              <div class="card-body-03">
                <h6 class="card-title">5th</h6>
                <p class="card-text-03">
                  <small class="s">17 March 2019</small>
                </p>
                <p class="card-text-03">
                  Vestibulum ac diam sit amet quam vehicula elementum amet est
                  on dui. Nulla porttitor accumsan tincidunt.
                </p>
                <i class="fa-solid fa-arrow-right" id="blog-card-arrow-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      
    </div>
  </div>
</section> 