<section id="footer">
    <div class="container">
      <h6>DOOB</h6>
      <h2>CREATIVTY ABOVE</h2>
      <div class="footer-nav">
        <ul class="nav justify-content-center">
          <li class="nav-items">
            <a class="nav-link active" aria-current="page" href="#banner">Home</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="#services">About Us</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
  
      <p><small> © 2019 - Doob,All Right Reserved</small></p>
  
      <div class="footer-icons">
        <span><img src="assets/images/f-icon.png" /></span>
        <span><img src="assets/images/t-icon.png" /></span>
        <span><img src="assets/images/drible-icon.png" /></span>
      </div>
    </div>
  </section>