<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="width: 571px">
          <img src="assets/images/about.png" class="about-image" />
        </div>
        <div class="col-md-6" style="width: 571px">
          <div class="carousal-text">
            <div id="carousel-1" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h6>OUR COMPANY</h6>
                  <h2>
                    Some Fine <br />
                    Words About Us
                  </h2>
                  <p>
                    Vestibulum ac diam sit amet quam vehicula elementum amet
                    <br />
                    est on dui. Nulla porttitor accumsan tincidunt.Vestibulum ac
                    <br />
                    diam sit amet. <br />Quam vehicula elementum amet est on dui.
                    Nulla porttitor ac<br />cumsan tincidunt.
                  </p>
                </div>
                <div class="carousel-item">
                  <h6>OUR mission</h6>
                  <h2>
                    Some ambitious <br />
                    Words About Us
                  </h2>
                  <p>
                    Vestibulum ac diam sit amet quam vehicula elementum amet est
                    on dui. Nulla porttitor accumsan tincidunt.Vestibulum ac diam
                    sit amet. Quam vehicula elementum amet est on dui. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                </div>
                <div class="carousel-item">
                  <h6>OUR vision</h6>
                  <h2>
                    Some goals <br />
                    Words About Us
                  </h2>
                  <p>
                    Vestibulum ac diam sit amet quam vehicula elementum amet est
                    on dui. Nulla porttitor accumsan tincidunt.Vestibulum ac diam
                    sit amet. Quam vehicula elementum amet est on dui. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                </div>
              </div>
              <div class="buttongroup">
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"><img src="assets/images/back-icon.png"
                      alt="" /></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"><img src="assets/images/forward-icon.png"
                      alt="" /></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>